In [ ]:
import pandas as pd
import numpy as np

## Data frames
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

DataFrame creation

In [ ]:
data = [
    ['Nissan', 'Stanza', 1991, 138, 4, 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 4, 'MANUAL', 'convertible', 54990],
    ['GMC', 'Acadia',  2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340],
]

columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Style', 'MSRP'
]

In [ ]:
df = pd.DataFrame(data, columns=columns)
df

Alternatively, we can use a list of dictionaries to create a dataframe:

In [ ]:
data = [
    {
        "Make": "Nissan",
        "Model": "Stanza",
        "Year": 1991,
        "Engine HP": 138.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "sedan",
        "MSRP": 2000
    },
    {
        "Make": "Hyundai",
        "Model": "Sonata",
        "Year": 2017,
        "Engine HP": None,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "Sedan",
        "MSRP": 27150
    },
    {
        "Make": "Lotus",
        "Model": "Elise",
        "Year": 2010,
        "Engine HP": 218.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "convertible",
        "MSRP": 54990
    },
    {
        "Make": "GMC",
        "Model": "Acadia",
        "Year": 2017,
        "Engine HP": 194.0,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "4dr SUV",
        "MSRP": 34450
    },
    {
        "Make": "Nissan",
        "Model": "Frontier",
        "Year": 2017,
        "Engine HP": 261.0,
        "Engine Cylinders": 6,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "Pickup",
        "MSRP": 32340
    }
]

### Basic

In [ ]:
# Displays n row of the DataFrame
df.head(n=2)

# Print index of the dataframe
df.index

# Print index of the series included in dataframe
df['Make'].index

# Print columns of dataframe
df.columns

# Column types
df.dtypes

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

### Columns selection

In [ ]:
# NOTES:
# 1. We can also use a dot notation df.Make
# 2. If a name contains spaces, we can't use dot, only brackets
df['Make']

In [ ]:
# To select a subset of columns use list of necessary columns names
df[['Make', 'Model', 'MSRP']]

### Adding, changing and removing columns

In [ ]:
# Add new column 'id'
df['id'] = ['nis1', 'hyu1', 'lot2', 'gmc1', 'nis2']

# Change existing column 'id'
df['id'] = [1, 2, 3, 4, 5]

# Remove column 'id'
del df['id']

### Accessing rows

In [ ]:
# Row selection by index
df.iloc[0]
df.iloc[[2, 3, 0]]
df.loc[[0, 1]]

### Element-wise operations

In [ ]:
# Set operation to each series element 
df['Engine HP'] * 2

# Check condition for each series element 
df['Year'] > 2000
df['Make'] == 'Nissan'

# We can combine multiple expressions with "and" = & or "or" = |
(df['Year'] > 2000) & (df['Make'] == 'Nissan')
(df['Year'] > 2000) | (df['Make'] == 'Nissan')

### Filtering

In [ ]:
# Filtering (row selection by condition)
df[df['Make'] == 'Nissan']

# Multiple conditions 
df[(df['Year'] > 2010) & (df['Transmission Type'] == 'AUTOMATIC')]

# Assigning value to column based on condition
df.loc[df['Year'] < 2000, 'Status'] = 'Old'

### Sorting

In [ ]:
# sort by column
df.sort_values(by='Year').head(3)

# sorting in a descending order
df.sort_values(by='msrp', ascending=False)

### Selecting values

In [ ]:
#Selecting values
df.head()['Make'].values.tolist()

## String operations

In [ ]:
# String to lowercase
df['Vehicle_Style'].str.lower()

# Replace one string to another 
df['Vehicle_Style'].str.replace(' ', '_')

# We can also work with dataframe metadata
df.columns = df.columns.str.lower().str.replace(' ', '_')

## Summarizing operations (EDA)

Numerical columns

In [ ]:
# Mean 
df.msrp.mean()

# Sum all values 
df.msrp.sum()

# Min
df.msrp.min()

# Max
df.msrp.max()

# Standart deviation 
df.msrp.std()

# descriptive statictics
df.msrp.describe()

Categorical columns

In [ ]:
# Number of unique values (series)
df.make.nunique()

# Number of unique values (dataframe)
df.nunique()

# Cpunt values (dataframe)
df.make.value_counts()

## Missing values

In [ ]:
# check if value is null (dataframe)
# also can be applied to the series
df.isnull()

# counts number of missing values 
df.isnull().sum()

# replace missing values with particular value
df.engine_hp.fillna(0)
df.engine_hp.fillna(df.engine_hp.mean()) # common practice

## Grouping

    SELECT
        tranmission_type,
        AVG(msrp)
    FROM
        cars
    GROUP BY
        transmission_type

In [ ]:
df.groupby('transmission_type')['msrp'].mean()

    SELECT
        tranmission_type,
        AVG(msrp),
        COUNT(msrp)
    FROM
        cars
    GROUP BY
        transmission_type

In [ ]:
df.groupby('transmission_type')['msrp'].agg(['mean', 'count'])

In [ ]:
df_group = df.groupby('transmission_type')['msrp'].agg(['mean', 'count'])
df_group

### Convert to dicts

In [ ]:
df.to_dict(orient='rows')

### Concatenating

In [ ]:
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],},
    index=[0, 1, 2, 3],)

df2 = pd.DataFrame({
    "A": ["A4", "A5", "A6", "A7"],
    "B": ["B4", "B5", "B6", "B7"],
    "C": ["C4", "C5", "C6", "C7"],
    "E": ["E4", "E5", "E6", "E7"],},
    index=[0, 1, 2, 3],)

In [ ]:
# appending dataframes 
df1.append(df2, ignore_index=True)

In [176]:
# joining
df3 = pd.DataFrame({
    "A": ["A1", "A2", "A3", "A4"],
    "F": ["F0", "F1", "F2", "F3"],},
    index=[0, 1, 2, 3],)

df1.join(df3, how='inner', lsuffix='_first', rsuffix='_third')

  A_first   B   C   D A_third   F
0      A0  B0  C0  D0      A1  F0
1      A1  B1  C1  D1      A2  F1
2      A2  B2  C2  D2      A3  F2
3      A3  B3  C3  D3      A4  F3

In [177]:
# merge
df1.merge(df3, how='left', on=['A'])

    A   B   C   D    F
0  A0  B0  C0  D0  NaN
1  A1  B1  C1  D1   F0
2  A2  B2  C2  D2   F1
3  A3  B3  C3  D3   F2